@import url(fonts.css );
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color:#000;
    --bg:#F0DB8C;
    --secondfont:'Lato';
    --font:'Roboto';
}
body {
    font-family: "PlayfairDisplay";
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header--start */
.header {
    background: var(--bg);
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color:var(--color);
    font-family: 'Roboto', sans-serif;
}

.nav {
    padding: 20px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 22px;

}

.link {
    color:var(--color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s linear;
    position: relative;
}
.link::after{
    content: '';
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fbb53b;
    position: absolute;
    transition: 0.3s linear;
}
.link:hover::after{
    width: 100%;
}
.fa-phone{
    color: var(--color) ;
}
.header__bottom{
    padding-top: 56px;
    padding-bottom: 50px;
    position: relative;
    /* background: url(../images/frontphoto.jpg) no-repeat center;  */
    /* background-size: 100%; */
    /* box-shadow: 0 0 0 #000; */
}
.header__title{
    z-index: 666666;
}
.banner{
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
    z-index:-5;
}
.header__title{
    font-family:var(--secondfont);
    font-size: 108px;
    line-height: 135px;
    text-align: center;
}
.header__title {
    width:10ch;
    animation: typing 1s steps(60), blink .5s step-end infinite ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 108px;
    line-height: 135px;
    padding-bottom: 46px;
    padding-top: 10px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.bottom__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.phone{
    font-family: var(--font);
    color:var(--color);
}
.text{
    font-family:var(--secondfont);  
    font-size: 39px;
    line-height: 114px;
}
.text2{
    font-family:var(--secondfont);  
    font-size: 39px;
    padding-TOP: 9px;
    line-height: 46px;
}
.text2:nth-of-type(2){
    padding-bottom: 0;
}
/* main--start */
.management{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.section__title{
    text-align: center;
    font-size: 50px;
    line-height: 72px;
    padding-bottom: 20px;
}
.section__conmtent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    column-gap: 100px;
    flex-wrap:wrap ;
    row-gap: 70px;
}
.item__img{
    object-fit: cover;
    width: 250px;
    height: 340px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    
}

.cards:nth-of-type(1),
.cards:nth-of-type(3),
.cards:nth-of-type(4),
.cards:nth-of-type(5){
    transform: translateY(34%);
}

.name{
    font-size: 30px;
    line-height: 30px;
}
.occupations{
    font-size: 20px;
    line-height: 20px; 
}

.photo{
    width: 100%;
    height: 550px;
    object-fit: cover;
    padding-bottom: 40px;
}
.location{
    padding-top: 170px;
    padding-bottom: 50px;
}
.foto{
    width: 644px;
    margin-left: 24px;
}











/* main--end */